<h2>When are you working</h2>

<form action="/fee" method="POST">
    <div>
        <input type="radio" name="shift" value="morning"> Morning
    </div>

    <div>
        <input type="radio" name="shift" value="afternoon"> Afternoon
    </div>

    <div>
        <input type="radio" name="shift" value="nightshift"> Nightshift
    </div>
    <br>
    <div>
        <input type="submit" value="Get Price">
    </div>

</form>